body{
    background-color: #1F2833;
    color: #66FCF1;
}

h1{
    text-align: center;
    margin-top: 3%;
}

h2{
    margin-left: 10%;
}

p{
    margin-left: 10%;
}

.kak_p{
    margin-bottom: 70px;
    margin-left: 10%;
}

.input_parent_str{
    margin-left: 15%;
    background-color: #98b7d6;
    width: 500px;
    margin-bottom: 1%;
}

.input_child_str{
    margin-left: 15%;
    background-color: #98b7d6;
}

.button{
    background-color: #98b7d6;
    margin-left: 25%;
}

.board{
    margin-left: 15%;
    width: 640px;
    height: 640px;
    border: 10px solid #66FCF1;;
    
}

.square{
    float: left;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black{
    background-color: #1d6b67;
}

.white{
    background-color: #98b7d6;
}

.figure{
    font-size: 60px;
    cursor: pointer;

}